@import './_vars.scss';

.isra-header {
    margin-top: 30px;
    height: 125px;
}

.isra-header a {
    float:left;
}

.isra-header h1 {
    margin-left: 204px;
    margin-top: 25px;
    margin-bottom: 0;
    color: #A1241E;
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
    font-size: 40px;
}

.isra-tagline {
    margin-left: 204px;
    font-style: italic;
    font-size: 20px;
    font-weight: 100;
}
